<div class="container-fluid portfolio-cont">
  <header>
    <h1 class="port-header">Portfolio</h1>
  </header>
  <nav class="port-nav">
    <a href="#" id="cityscape-link" class="port-links">Cityscape</a>
      <a href="#" id="landscape-link" class="port-links">Landscape</a>
    <a href="#" id="real-estate-link" class="port-links">Real Estate</a>
    <!-- <a href="#" id="headshot-link" class="port-links">Headshots</a> -->
  </nav>
  <main>
    <div id="modal-container">
        <%= image_tag("", :alt => "Britt", :id => "modal-content" ) %>
        <a id="close-modal"><span class="icon-bar top-bar"></span>
        <span class="icon-bar bottom-bar"></span></a>
        <a class="modal-nav port-prev" id="port-prev"><i class="fa fa-chevron-left fa-2x prev-logo" aria-hidden="true"></i></a>
        <a class="modal-nav port-next" id="port-next" ><i class="fa fa-chevron-right fa-2x next-logo" aria-hidden="true"></i></a>
    </div>
    <section>
      <div class="port-row">
        <section class="cityscape-port port-page active">
          <div class="port-column">
            <%= image_tag("Duluth_bw_city.jpg", :alt => "Duluth, MN. Black and white photo of Duluth arial lift bridge", :class => "img-city", :data => {:number => 0}) %>
            <%= image_tag("MSP_stonetop_city.jpg", :alt => "Photo of Minneapolis from stone arch bridge.", :class => "img-city", :data => {:number => 1}) %>
            <%= image_tag("NYC_freeway_city.jpg", :alt => "Photo of Rosevelt belt way", :class => "img-city", :data => {:number => 2}) %>
            <%= image_tag("Duluth_day_city.jpg", :alt => "Duluth, MN. Day photo of Duluth arial lift bridge", :class => "img-city", :data => {:number => 3}) %>
            <%= image_tag("NYC_man_city.jpg", :alt => "Photo of manhatten", :class => "img-city", :data => {:number => 4}) %>
            <%= image_tag("NYC_mem_city.jpg", :alt => "Photo of 9/11 memorial", :class => "img-city", :data => {:number => 5}) %>
          </div>
          <div class="port-column">
            <%= image_tag("MSP_car_city.jpg", :alt => "Image of Minneapolis at night with car trails.", :class => "img-city",:data => {:number => 6}) %>
            <%= image_tag("Duluth_night_city.jpg", :alt => "Duluth, MN. Night photo of Duluth arial lift bridge", :class => "img-city", :data => {:number => 7}) %>
            <%= image_tag("MSP_stonewater_city.jpg", :alt => "Photo of Minneapolis from below stone arch bridge", :class => "img-city", :data => {:number => 8}) %>
            <%= image_tag("NYC_sun_city.jpg", :alt => "Photo of New Jersey from manhatten", :class => "img-city",:data => {:number => 9}) %>
            <%= image_tag("NYC_freedom_city.jpg", :alt => "Photo of Freedom tower in NYC.", :class => "img-city", :data => {:number => 10}) %>
            <%= image_tag("Seattle_city.jpg", :alt => "Image of Seattle ", :class => "img-city", :data => {:number => 11}) %>
          </div>
        </section>
        <section class="landscape-port port-page">
          <div class="port-column">
            <%= image_tag("Split_rock_land.jpg", :alt => "Photo of New Jersey from manhatten", :class => "img-land",:data => {:number => 0}) %>
            <%= image_tag("Skagway_land.jpg", :alt => "Photo of 9/11 memorial", :class => "img-land", :data => {:number => 1}) %>
            <%= image_tag("Yellow_waterfall_land.jpg", :alt => "Image of Seattle ", :class => "img-land", :data => {:number => 2}) %>
            <%= image_tag("Alaska_glac_land.jpg", :alt => "Duluth, MN. Day photo of Duluth arial lift bridge", :class => "img-land", :data => {:number => 3}) %>
            <%= image_tag("MT_reading2_land.jpg", :alt => "Photo of Minneapolis from below stone arch bridge", :class => "img-land", :data => {:number => 4}) %>
            <%= image_tag("Rush_flags_land.jpg", :alt => "Photo of manhatten", :class => "img-land", :data => {:number => 5}) %>
          </div>
          <div class="port-column">
            <%= image_tag("MT_road_land.jpg", :alt => "Photo of Freedom tower in NYC.", :class => "img-land", :data => {:number => 6}) %>
            <%= image_tag("Cloud_tree_land.jpg", :alt => "Duluth, MN. Night photo of Duluth arial lift bridge", :class => "img-land", :data => {:number => 7}) %>
            <%= image_tag("Alaska_fog_land.jpg", :alt => "Duluth, MN. Black and white photo of Duluth arial lift bridge", :class => "img-land", :data => {:number => 8}) %>
            <%= image_tag("MT_tess_land.jpg", :alt => "Photo of Rosevelt belt way", :class => "img-land", :data => {:number => 9}) %>
            <%= image_tag("MT_chair_land.jpg", :alt => "Photo of Minneapolis from stone arch bridge.", :class => "img-land", :data => {:number => 10}) %>
          </div>
        </section>
        <section class="real-estate-port port-page">
          <div class="port-column">
            <%= image_tag("bath.jpg", :alt => "Modern bathroom", :class => "img-real", :data => {:number => 0}) %>
            <%= image_tag("cabin.jpg", :alt => "Master bed", :class => "img-real", :data => {:number => 1}) %>
            <%= image_tag("bed-cup.jpg", :alt => "Kitchen with sitting area", :class => "img-real",:data => {:number => 2}) %>
            <%= image_tag("living.jpg", :alt => "Livingroom", :class => "img-real", :data => {:number => 3}) %>
            <%= image_tag("Kitchen-in.jpg", :alt => "Britt", :class => "img-real", :data => {:number => 4}) %>
            <%= image_tag("Kitchen-out.jpg", :alt => "Britt", :class => "img-real", :data => {:number => 5}) %>
          </div>
          <div class="port-column">
            <%= image_tag("bar.jpg", :alt => "Bar", :class => "img-real", :data => {:number => 6}) %>
            <%= image_tag("m-kitchen.jpg", :alt => "Modern bedroom", :class => "img-real", :data => {:number => 7}) %>
            <%= image_tag("small-bath.jpg", :alt => "Kitchen showing appliances", :class => "img-real", :data => {:number => 8}) %>
            <%= image_tag("bed.jpg", :alt => "Modern bedroom", :class => "img-real", :data => {:number => 9}) %>
            <%= image_tag("cabin-living.jpg", :alt => "Kitchen showing appliances", :class => "img-real", :data => {:number => 10}) %>
          </div>
        </section>
      </div>
    </section>
  </main>
</div>
