<div class="container-fluid portfolio-cont">
  <header>
    <h1 class="port-header">Portfolio</h1>
  </header>
  <nav class="port-nav">
    <a href="#" class="port-links">Real Estate</a>
    <a href="#" class="port-links">Headshots</a>
    <a href="#" class="port-links">Landscape</a>
    <a href="#" class="port-links">Cityscape</a>
  </nav>
  <main>
    <div class="modal-container">
      <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "modal-content") %>
    </div>
    <div class="port-row">
      <div class="port-column">
        <%= image_tag("bath_1.jpg", :alt => "Modern bathroom", :class => "port-img") %>
        <%= image_tag("bar_1.jpg", :alt => "Bar", :class => "port-img") %>
        <%= image_tag("living_1.jpg", :alt => "Livingroom", :class => "port-img") %>
      </div>
      <div class="port-column">
        <%= image_tag("kitchen_1.jpg", :alt => "Kitchen with sitting area", :class => "port-img") %>
        <%= image_tag("master_1.jpg", :alt => "Modern bedroom", :class => "port-img") %>
        <%= image_tag("kitchen_2.jpg", :alt => "Kitchen showing appliances", :class => "port-img") %>
      </div>
      <div class="port-column">
        <%= image_tag("master_2.jpg", :alt => "Master bed", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
      </div>
      <div class="port-column">
        <%= image_tag("bath_1.jpg", :alt => "Modern bathroom", :class => "port-img") %>
        <%= image_tag("bar_1.jpg", :alt => "Bar", :class => "port-img") %>
        <%= image_tag("living_1.jpg", :alt => "Livingroom", :class => "port-img") %>
      </div>
    </div>
  </main>
</div>
