<section class="text-center" id="portfolio">
  <div class="container-fluid">
    <div class="row">
      <div>
        <h1 class="port-header">Landscape</h1>
        <div class="col-xs-12" id="image-div">
<<<<<<< HEAD
          <%= image_tag("Split_rock-finished.jpg", :alt => "Split rock lighthouse, MN", :class => "col-xs-12 col-sm-4 port-image") %>
          <%= image_tag("EmptyName-4-final-crop.jpg", :alt => "Split rock lighthouse, MN", :class => "col-xs-12 col-sm-4 port-image") %>
          <%= image_tag("skagway.jpg", :alt => "Skagway, AK", :class => "col-xs-12 col-sm-4 port-image") %>
          <%= image_tag("EmptyName-4-final-crop.jpg", :alt => "Split rock lighthouse, MN", :class => "col-xs-12 col-sm-4 port-image") %>
          <%= image_tag("Split_rock-finished.jpg", :alt => "Split rock lighthouse, MN", :class => "col-xs-12 col-sm-4 port-image") %>
          <%= image_tag("skagway.jpg", :alt => "Skagway, AK", :class => "col-xs-12 col-sm-4 port-image") %>

          <!-- <img src="https://placeimg.com/340/220/any" class="col-xs-12 col-sm-4 port-image" />
          <img src="https://placeimg.com/340/220/any" class="col-xs-12 col-sm-4 port-image" />
          <img src="https://placeimg.com/340/220/any" class="col-xs-12 col-sm-4 port-image" />
          <img src="https://placeimg.com/340/220/any" class="col-xs-12 col-sm-4 port-image" />
          <img src="https://placeimg.com/340/220/any" class="col-xs-12 col-sm-4 port-image" /> -->
        </div>
        <h1 class="port-header">Headshots</h1>
        <div class="col-xs-12" id="image-div">
          <img src="https://placeimg.com/340/220/any" class="col-xs-12 col-sm-4 port-image" />
          <img src="https://placeimg.com/340/220/any" class="col-xs-12 col-sm-4 port-image" />
          <img src="https://placeimg.com/340/220/any" class="col-xs-12 col-sm-4 port-image" />
          <img src="https://placeimg.com/340/220/any" class="col-xs-12 col-sm-4 port-image" />
          <img src="https://placeimg.com/340/220/any" class="col-xs-12 col-sm-4 port-image" />
          <img src="https://placeimg.com/340/220/any" class="col-xs-12 col-sm-4 port-image" />
        </div>
      </div>
    </div>
  </div>
</section>
