<div class="container-fluid portfolio-cont">
  <header>
    <h1 class="port-header">Portfolio</h1>
  </header>
  <nav class="port-nav">
    <a href="#" class="port-links">Real Estate</a>
    <a href="#" class="port-links">Headshots</a>
    <a href="#" class="port-links">Landscape</a>
    <a href="#" class="port-links">Cityscape</a>
  </nav>
  <main>
    <div class="port-row">
      <div class="port-column">
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
      </div>
      <div class="port-column">
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
      </div>
      <div class="port-column">
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
      </div>
      <div class="port-column">
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
        <%= image_tag("_BMB4824.jpg", :alt => "Britt", :class => "port-img") %>
      </div>
    </div>
  </main>
</div>
