<section class="container" id="contact">
  <div class="row">
    <div class="jumbotron">
      <div class="heading text-center">
        <h1>Contact</h1><br />
        <a href="https://www.instagram.com/britt.baumann/" class="social" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/BrittonB83" class="social" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
      </div>
      <div class="text-center">
        <%= form_for @contact do |f| %>
          <%= f.label :name, :class => 'labels' %><br />
          <%= f.text_field :name, :class => 'label-box', required: true %>

          <br />

          <%= f.label :email, :class => 'labels' %><br />
          <%= f.email_field :email, :class => 'label-box', required: true %>

          <br />

          <%= f.label :message, :class => 'labels' %><br />
          <%= f.text_area :message, :class => 'label-box', as: :text %>

          <br />

          <div class="hidden">
            <%= f.label :nickname %><br />
            <%= f.text_field :nickname, hint: 'leave this field blank' %>
          </div>

          <%= f.submit 'Send Message', class: "button" %><br />

        <% end %>
      </div>
    </div>
  </div>
</section>
